.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section{
    width: 100%;
}

.container{
    height: 40rem;
    /* border: 1px solid white; */
    width: 100%;
    position: relative;
}

.heading-box{
    position: absolute;
    top: 28%;
}

.resume-btn{
    margin-top: 2rem;
}


.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    letter-spacing: 10%;
  }
  
  h1 {
    font-size: 3.8rem;
    word-break: normal;    
  }

  .neon-sub-text{
    text-transform: uppercase;
    animation: flicker 5s infinite;
    color: #fff;
    font-size: 1.5rem;
   margin-top: 1.5rem;
  
}
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(96, 7, 179),
        0 0 80px rgb(74, 10, 175),
        0 0 90px rgb(168, 6, 201),
        0 0 100px rgb(99, 8, 218),
        0 0 150px rgb(64, 20, 185);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  
  /* Additional styling */
    

  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }

/********** Skills *********/


.section-heading{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 2rem;
}

.javascript{
    color: yellow;
    font-size: 4rem;
}

.react{
    font-size: 4rem;
    color: rgb(5, 103, 128);
}



.html{
    color: orangered;
    font-size: 4rem;
}

.css{
    color: rgb(170, 6, 88);
    font-size: 4rem;
}

.github{
    color: rebeccapurple;
    font-size: 4rem;
}

.node{
    color: green;
    font-size: 4rem;
}

.laptop{
    color: red;
    font-size: 4rem;
}

.skill-icon{
    filter: brightness(90%);
    transition: all 0.5s;
    margin: 2rem;
}

.skill-icon:hover{
    filter: brightness(120%);
    transform: scale(1.2);
}

@media only screen and (min-width: 500px){
    .skill-icon{
        font-size: 10rem;
    }
}

@media only screen and (max-width: 450px){
    h1{
        font-size: 2.5rem;
    }

    .neon-sub-text{
        font-size: 1.8rem;
    }

    .youtube-section > .section-heading{
        font-size: 1.5rem;
        word-break: normal;
        width: 80%;
    }
}

/*************** Project Section *************/

.project-section, .blog-section, .youtube-section{
    width: 80%;
    align-items: center;
    margin-top: 4rem;
    justify-content: center;
    display: flex;
    
    flex-direction: column;
}

.project-box, .blog-box{
    word-break: break-all !important ;
    margin: 2rem 0;
    text-align: justify;
    border: 1px solid white;
   
}

.blog-box > p{
    word-break: break-all;
}

.project-buttons{
    display: flex;
    flex-wrap: wrap;
}

.project-button, .blog-button{
    margin: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

/********************* Blog Section ***********/


.box-heading{
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    text-transform: uppercase;
    word-break: break-all;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


p{
    word-break: break-all;
}